<!doctype html>
<html lang="en">

  <head>
    {% include 'partials/meta.njk' %}
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
    <main>
      {{ content | safe }}
    </main>
  </body>

</html>
